.input-control{
    border: transparent!important;
    border: 1px solid #111868!important;
    height: 50px!important;
    background: transparent!important;
    color: black!important;
    font-size: 18px;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 100%; 
}
.textarea-control{
    border: transparent!important;
    border: 1px solid #111868!important;
    height: auto!important;
    background: transparent!important;
    color: black!important;
    font-size: 18px;
    border-radius: 2px;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    margin-bottom: 15px;
    padding-left: 10px;
    width: 100%; 
}
.input-control,.textarea-control:focus { 
    outline: none !important;
    border-color: #111868;
    box-shadow: 0 0 10px #111868;
}
.send-btn {
    background: none;
    border: 2px solid #111868;
    text-transform: uppercase;
    padding: 7px 15px;
    color: #000;
    transition: 0.3s;
    display: block;
    margin: 0 auto;
}
.send-btn:hover{
    background: #111868;
    border: 2px solid #111868;
    color: #fff;
}